html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

/* Видео на заднем плане */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Видео позади всего контента */
}

/* Стили для контейнера загрузки */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Полупрозрачный черный фон */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Поверх всего контента */
}

/* Стили для спиннера */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    /* Светлый цвет */
    border-top: 5px solid #3498db;
    /* Основной цвет */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* Анимация вращения */
}

/* Текст под спиннером */
.loader p {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

/* Анимация вращения */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Скрытие загрузчика */
.hidden {
    display: none;
}

.btn-bet {
    width: 75%;
    height: 80%;
}

.container {
    width: 100vw;
    align-items: center;
    max-width: 100vw; /* Добавьте это */
    overflow-x: hidden; /* Блокируем горизонтальный скролл */
    margin-top: 5px;
    /* Занимаем всю высоту экрана */
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.header,
.sub-header {
    padding-top: 80px;
    text-align: center;
    position: relative;
    margin: 5px;
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    height: calc(100vh - 70px - 60px);
    width: 90%;
}


.separator, 
.separator-hidden {
    flex: 0 0 1px; /* Разделители не растягиваются */
    height: 60px;
    width: 1px;
    margin: 0 2px;
    background-color: #ccc;
}

/* Скрытый разделитель по умолчанию */
.separator-hidden {
    display: none;
}



.button {
    border: none;
    flex: 1 1 auto; /* Кнопки растягиваются равномерно */
    min-width: 50px; /* Минимальная ширина кнопки */
    max-width: 20%; /* Максимальная ширина кнопки */
    margin: 0 2px; /* Небольшие отступы между кнопками */
}

#auction,
#rating,
#inventory,
#mart,
#donate,
.return {
    display: none;
}

.button.auction,
.button.rating,
.button.inventory,
.button.mart,
.button.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.button.return {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.button.auction img,
.button.rating img,
.button.inventory img,
.button.mart img,
.button.donate img,
.button.return img {
    max-width: 80%;
    max-height: 70%;
    margin: 5px 0 5px 0;
}




.auction-container {
    display: block;
    position: absolute;
    background-color: rgba(44, 62, 80, 0.1);
    text-align: center;
    gap: 20px;
}

.chat-container {
    border: 1px solid #366e7f;
    border-radius: 5px;
    padding: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    text-align: left;
}

.chat-input {
    display: flex;
    gap: 10px;
    width: 90%;
    padding: 5px;
}

.auction-lots {
    width: 100%;
    /* Таблица занимает всю ширину контейнера .auction-container */
    overflow-x: auto;
    border-collapse: collapse;
    /* Включаем горизонтальную прокрутку для блока с таблицей */
    white-space: nowrap;
    /* Предотвращаем перенос строк в таблице */
}

.lots-table {
    width: 100%;
    border-radius: 5px;
    /* Устанавливаем минимальную ширину равной контейнеру */
    min-width: 1200px;
    /* Фиксируем минимальную ширину таблицы больше, чем 95vw, чтобы появилась прокрутка */
    border-collapse: collapse;
    background-color: rgba(44, 62, 80, 0.3);
}

.lots-table th,
.lots-table td {
    padding: 8px;
    text-align: left;
    min-width: 150px;
    /* Устанавливаем минимальную ширину колонок для читаемости */
}

.create-lot {
    margin-top: 20px;
}

.create-lot form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px 20px;
}

#main {
    position: relative;
    width: 100%;
    height: 100vh; /* или нужная вам высота */
}

#main canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Стили для контейнера */
.inventory-container {
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.1);
}

.donate-container {
    position: absolute;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.1);
}

/* Стили для таблицы */
.inventory-table {
    width: 100%;
    border-radius: 5px;
    /* Таблица занимает всю ширину контейнера */
    border-collapse: collapse;
    /* Убираем двойные границы */
    background-color: rgba(44, 62, 80, 0.3);
    /* Цвет фона таблицы */
}

/* Стили для заголовков и ячеек таблицы */
.inventory-table th,
.inventory-table td {
    padding: 10px;
    /* Отступы внутри ячеек */
    text-align: center;
    /* Выравнивание текста по центру */
}

/* Стили для заголовков таблицы */
.inventory-table th {
    background-color: rgba(44, 62, 80, 0.5);
    /* Цвет фона заголовков */
    color: white;
    /* Цвет текста заголовков */
}

/* Стили для строк таблицы */
.inventory-table tbody tr:hover {
    background-color: rgba(44, 62, 80, 0.2);
    /* Цвет фона при наведении */
}



/* Стили для таблицы */
.market-table {
    width: 100%;
    border-radius: 5px;
    /* Таблица занимает всю ширину контейнера */
    border-collapse: collapse;
    /* Убираем двойные границы */
    background-color: rgba(44, 62, 80, 0.3);
    /* Цвет фона таблицы */
}

/* Стили для заголовков и ячеек таблицы */
.market-table th,
.market-table td {
    padding: 10px;
    /* Отступы внутри ячеек */
    text-align: center;
    /* Выравнивание текста по центру */
}

/* Стили для заголовков таблицы */
.market-table th {
    background-color: rgba(44, 62, 80, 0.5);
    /* Цвет фона заголовков */
    color: white;
    /* Цвет текста заголовков */
}

/* Стили для строк таблицы */
.market-table tbody tr:hover {
    background-color: rgba(44, 62, 80, 0.2);
    /* Цвет фона при наведении */
}


/* Стили для контейнера рейтинга */
.rating-container {
    position: absolute;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.1);
}

.auction-container,
.inventory-container,
.donate-container,
.rating-container,
.mart-container,
.wheel-container {
    width: 100vw; 
    left: 0;
    transform: translate(0, -25%); 
    padding: 20px;
    box-sizing: border-box;
}


/* Стили для таблицы */
.rating-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: rgba(44, 62, 80, 0.3);
}

/* Стили для заголовков и ячеек таблицы */
.rating-table th,
.rating-table td {
    padding: 10px;
    text-align: center;
}

/* Стили для заголовков таблицы */
.rating-table th {
    background-color: rgba(44, 62, 80, 0.5);
    color: white;
}

/* Стили для строк таблицы */
.rating-table tbody tr:hover {
    background-color: rgba(44, 62, 80, 0.2);
}

.sub-header {
    margin-bottom: 20px;
    /* Отступ между заголовком и таблицей */
}

/* Стили для отображения валюты */
.currency-display {
    position: absolute;
    right: 20px;
    background-color: rgba(44, 62, 80, 0.7);
    /* Полупрозрачный фон */
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.currency-display img {
    width: 30px;
    height: 30px;
}



td {
    text-align: center;
    /* Горизонтальное выравнивание */
    vertical-align: middle;
    /* Вертикальное выравнивание */
}


.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #ecf0f1;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
}

.buy-button:hover {
    background-color: #3498db;
}

.buy-button:active {
    background-color: #1c60a0;
    /* Цвет при нажатии */
}

.buy-button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}







@media (max-width: 768px) {
    .lots-table {
        min-width: 100% !important;
        width: 100% !important;
    }

    auction-lots {
        overflow-x: auto;
        width: 100vw;
        margin-left: -2.5%; 
    }

    .lots-table th,
    .lots-table td {
        min-width: 100px;
        /* Уменьшенная ширина колонок */
    }
}


.bitcoin-widget {
    padding: 10px;
    background-color: rgba(44, 62, 80, 0.3);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

#bitcoin-price {
    font-size: 18px;
    margin-bottom: 10px;
}

#bitcoin-graph {
    width: 95%;
    margin: 0 auto;
    height: 300px; /* Вы можете настроить это значение по своему усмотрению */
    position: relative;
}

#bitcoin-graph canvas {
    width: 100% !important;
    height: 100% !important;
}

.bet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bet-container button {
    padding: 5px 10px;
    background: linear-gradient(
        45deg,
        #097e098f,  /* Зеленый */
        #2b9b2b8f,  /* Лаймовый */
        #097e098f
    );
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bet-container button:disabled, .bet-container input:disabled {
    overflow: hidden; /* Скрываем избыток градиента */
    background: linear-gradient(
        45deg,
        #7b10108f,  /* Красный */
        #ff4d4d8f,  /* Светло-красный */
        #7b10108f
    );
    background-size: 400% 400%; /* Увеличиваем размер градиента для анимации */
    animation: gradient-pulse 3s ease infinite; /* Анимация для запрета */
    transition: all 0.3s ease;
    transition: background 0.5s ease;
    cursor: not-allowed;
}

.bet-container input {
    background: linear-gradient(
        45deg,
        #097e098f,  /* Зеленый */
        #2b9b2b8f,  /* Лаймовый */
        #097e098f
    );
    padding: 10px 10px;
    width: 100px;
    border-radius: 5px;
}

#bet-status {
    font-size: 14px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.reward-notification {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(44, 62, 80, 0.3);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 10;
    animation: slideDown 0.5s ease-in-out forwards, fadeOut 0.5s ease-in-out 119.5s forwards;
}
.reward-notification img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}



@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.reward-timer {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden; /* Скрываем избыток градиента */
    background: linear-gradient(
        45deg,
        #7b10108f,  /* Красный */
        #ff4d4d8f,  /* Светло-красный */
        #7b10108f
    );
    background-size: 400% 400%; /* Увеличиваем размер градиента для анимации */
    animation: gradient-pulse 3s ease infinite; /* Анимация для запрета */
    transition: all 0.3s ease;
    transition: background 0.5s ease;
}

.reward-timer.available {
    animation: none; /* Отключаем анимацию */
    background: linear-gradient(
        45deg,
        #097e098f,  /* Зеленый */
        #2b9b2b8f,  /* Лаймовый */
        #097e098f
    );
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3); /* Свечение для разрешения */
}

@keyframes gradient-pulse {
    0% {
        background-position: 0% 50%; /* Начало градиента */
    }
    50% {
        background-position: 100% 50%; /* Сдвиг градиента */
    }
    100% {
        background-position: 0% 50%; /* Возврат в исходное положение */
    }
}



/* Контейнер колеса */
.wheel-container {
    display: none; /* По умолчанию скрыт */
    position: absolute; /* Позиционируем как mart-container */
    flex-direction: column;
    align-items: center;
    transform: translate(0, -50%) !important;
    opacity: 0;
    z-index: 2; /* Устанавливаем выше контента, но ниже уведомлений */
}

/* Колесо */
.wheel {
    width: 125%;
    max-width: 250px;
    height: auto;
    transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: center;
    margin-bottom: 10px;
}

/* Стрелка внизу, смотрит вверх */
.arrow {
    position: relative; /* Изменяем на relative, чтобы не привязываться к absolute позиционированию */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgb(23, 61, 141); /* Стрелка смотрит вверх */
    margin-bottom: 10px; /* Отступ от кнопки */
}

/* Стиль кнопки */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px; /* Отступ сверху от стрелки */
}

/* Уведомление о призе */
.prize-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    display: none;
    animation: slideIn 0.5s ease;
    z-index: 10; /* Уведомление поверх всего */
}

/* Убедимся, что меню не перекрывает контент */
.game-menu {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Изменено с space-around */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Добавлено */
    height: 80px;
    background-color: rgba(44, 62, 80, 0.3);
    z-index: 5;
    box-sizing: border-box; /* Важно для правильного расчета ширины */
}

/* Контейнер mart для правильного размещения */
.mart-container {
    display: block;
    position: absolute;
    text-align: center;
    opacity: 1;
    z-index: 2; /* Устанавливаем тот же уровень, что и у wheel-container */
}

.spin-btn, .sender, .auctions , .auctions-table, .buy-stars{
    padding: 10px 20px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.auctions-table {
    margin: 5px;
}

/* Стили для кнопок навигации */
.nav-button {
    bottom: 80px; /* Чуть выше game-menu */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 3; /* Выше контента, но ниже уведомлений */
}

.nav-button:hover {
    background-color: #2980b9;
}

.nav-button.right {
    float: right; /* Кнопка "Вправо" прижата к правому краю */
}

.nav-button.left {
    position: relative;
    top: 0;
    right: 40%;
}
@media screen and (max-width: 768px),
screen and (max-width: 1024px) {
    .container {
        overflow-x: hidden;
        width: 100vw !important;
        overflow-y: auto;
    }

    .button {
        max-width: 18%; /* Уменьшаем максимальную ширину */
        min-width: 40px;
    }

    .button img {
        max-width: 90%; /* Уменьшаем размер иконок */
    }

    .separator,
    .separator-hidden {
        height: 75%;
    }
}